{% extends 'home_page.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/403_error.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="error-403-container">
    <h1 class="error-code">403</h1>
    <p class="error-message">Forbidden – You are not allowed to access this page.</p>
    <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
